.DS_Store
._.DS_Store
.vs
.vscode

__pycache__/

Debug/
Release/
x64/
a.out

Gn-SRR7236689_contigs.fasta.json
SRR7236689--ARG830.fa.json
packing_table.json
unpacking_table.json

blastn_out.txt
blastn.out
