.DS_Store
.vs
.vscode

C++/Blastn/Debug
C++/Blastn/Release
C++/Blastn/x64
C++/a.out

Python/.vscode
Python/util/__pycache__/*
Python/util/data/Gn-SRR7236689_contigs.fasta.json
Python/util/data/SRR7236689--ARG830.fa.json
Python/util/data/packing_table.json
Python/util/data/unpacking_table.json
Python/util/packing_table.json
Python/util/unpacking_table.json
